/* navbar code */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Whitney,Arial, Helvetica, sans-serif;
}

#navbar {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 20% 30% 20%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

#left img {
    width: 50px;

}

#left {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left>div {
    display: flex;
    align-items: center;
}

#right {
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
}

#right>div:nth-child(1) {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5px;
}

#right>div:nth-child(1)>img {
    width: 20%;
    height: 40%;
}

#secure {
    display: flex;
    font-size: 20px;
    justify-content: left;
    align-items: center;
    color: gray;
}

#centre {
    display: flex;
    align-items: center;
    color: gray;
    justify-content: center;
    font-size: 14px;
}

#centre>span>span {
    text-decoration: underline;
    color: #49cabb;
    line-height: 20px;
}

span>a {
    text-decoration: none;
    color: gray;
}

/* address box css */

#address_container{
    border: 1px solid #ccc;
    width:25%;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
}
#address_container h5:nth-child(1){
 margin-top: 0px;   
}
#address_container h5{
    margin:20px 0px;
}
#address_container input{
    width:100%;
    margin:7px 0px;
    padding:7px 10px;
}
#button{
    width:25%;
    padding:5px;
    margin: auto;
    border: 1px solid #ccc;
}
#button>button{
    width:100%;
    padding:8px;
    border: 0px;
    background-color: #ff3f6c;
    color: white;
    font-weight: 500;
}

/* popup added */
.popup{
    width:400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding:0px 30px 30px;
    color: #333;
    border: 1px solid;
    visibility: hidden;
    transition:transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width:30%;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin:30px 0px 10px;
    line-height: 40px;
}

.popup button{
    width:100%;
    margin-top: 30px;
    padding:10px 0px;
    background:#159538;
    color:#fff;
    border:0px;
    outline: none;
    font-size: 18px;
    border-radius:4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}