*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
}

#container{
    box-sizing: border-box;
    width: 95%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    border: 1px solid #ccc;
    padding: 10px;
    /* margin: 33px; */
}

#container>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

#container>div>img{
width:100%;
}

#container>div>img~div,h4,h4,button{
    margin: 10px;
}

#container>div>img~button{
   background-color:whitesmoke;
   border: 1px solid #ccc;
   color:red;
   box-sizing: border-box;
   padding: 5px;
   border-radius: 5px;
   width: 100px;
}

#container>div>div{
    display: flex;
}

#container>div>div>p{
    margin-right: 5px;
}

#container>div>div>p:nth-child(2){
    color: grey;
    font-size: 14px;
    padding-top: 5px;
    text-decoration:line-through;
    margin-left: 5px;
}

#container>div>div>p+p+p{
  color: red;
  font-size: 15px;
  
}

/* #container>div>h4{
  font-weight: lighter;
}

#container>div>h4:nth-child(4){
    color:black
} */
#nav{
    width:100%;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 9999999;
    top: 1px;
    background-color: white;
}
#nav>div:nth-child(1)>img{
    height: 66px;
}
#nav img{
    width:100%;
    height:100%;
}

#nav>div:nth-child(8)>img{
    display: flex;
    flex-direction: column;
    width:90%;
    height:60%;
   margin-bottom:-5px;
   margin-right: 10px;
}

#nav>div{
   /* border: 1px solid green; */
   width:auto;
   height:40px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size:14px;
   text-align: center;
   display: flex;
   align-items: center;
}

#nav>div:nth-child(6){
    width:500px;
    height: 33px;
    padding-top: 1px; 
}

#nav input{
    background-color:rgb(244, 242, 242);
    width:100%;
    height: 36px;
    border: 0px ;
    border-radius: 5px;
}

#invite{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4e1fc;
}

#invite>img{
  height:50px ;
}

#invite>p{
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: rgb(76, 76, 76);
}
#invite>button{
  height: 30px;
  width: 100px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  border-radius: 5px;
  border: 1px solid rgb(167, 216, 246);
}
#sortbypriceAndName{
    display: flex;
    justify-content: end;
    margin-top: 22px;
    margin-right: 25px;
}
#sortNames{
  height: 35px;
  margin-right: 25px;
  margin-left: 25px;
}

#end-container {
background-color: #fafbfc;
margin: 20px auto;
padding: 2% 5%;
}
#table {
width: 50%;
text-align: left;
font-size: 18px;
}
#end-container > div:nth-child(2) {
width: 100%;
margin: auto;
line-height: 25px;
margin-top: 20px;
}
#end-container > div:nth-child(2) > h4 {
margin: 10px auto;
}