
  /* Start of FilterContainer */
  #filtercontainer{
    width: 100%;
    height: 130px;
    padding-bottom: -10px;
    padding-left: 10px;
  }
  #filtercontainer>div:first-child{
    height: 50%;
  }
  #filtercontainer>div:last-child{
    display: flex;
    justify-content: space-between;
  }
  #filtercontainer>div:last-child>div{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #filtercontainer>div:last-child>div>select{
    border: none;
    font-size: 13px;
  }


  #MainContainer{
    display: flex;
  }
  #MainContainer>#left-section{
    width: 20%;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: .2px solid rgb(204, 204, 204);

  }
  #MainContainer>#left-section>div{
    margin-bottom:  5px;
  }
  #MainContainer>#left-section>div>h3{
    margin-bottom: 10px;
  }
  #MainContainer>#left-section>div>span{
    padding-left: 10px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  #MainContainer>#left-section>div>input{
    margin-left: 10px;
    margin-bottom: 12px;
  }
  /* #MainContainer>#left-section>#sprice{
    text-decoration: line-through;
  } */

  #MainContainer>#Right-section{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    border: .5px solid rgb(204, 204, 204);

  }
  #MainContainer>#Right-section>div{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    transition-duration: .3s;
    /* border: 2px solid orange; */
  }
  #MainContainer>#Right-section>div:hover{
    padding: 10px;
    transform: scale(1.03);
    /* background-color: #FD913C; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    border: 1px solid orange;
  }
  #MainContainer>#Right-section>div>#price{
    margin-right: 10px;
    font-weight: 400;
  }
  #MainContainer>#Right-section>div>img{
    margin: auto;
  }
  #MainContainer>#Right-section>div>#sprice{
    text-decoration: line-through;
    color: gray;
  }
  #MainContainer>#Right-section>div>#addtocart{
    width:30%;
    border-style: none;
    border-radius: 3px;
    padding: 5px;
    color: red;
    border:1px solid #ccc;
    position: relative;
  }
  #MainContainer>#Right-section>div>#addtocart:hover{
    background-color: red;
    color: white;
  }
  #MainContainer>#Right-section>div>#brand{
    font-weight: 600;
  }