*{
margin:0px;
padding: 0px;
box-sizing: border-box;
}

#OTPbox{
    width: 20%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
text-align: center;
margin: auto;
margin-top: 110px;
border-radius: 5px;
padding:30px;
}
span>a{
    color: gray;
    text-decoration: none;
}
#OTPbox>h3{
color: rgb(75, 74, 74); 
}
#OTPbox>input{
width: 100%;
font-weight: bold;
border-radius: 5px;
border:1px solid #ccc;
padding:7px 15px ;
}
#OTPbox>p{
font-weight: bold;
margin-top: 10px; 
}

#navbar{
width:100%;
height:80px;
display: grid;
grid-template-columns: 20% 30% 20%;
background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
justify-content: space-between;
position: sticky;
top: 0px;
}
#left img {
width: 50px;
}

#left {
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}

#left>div {
display: flex;
align-items: center;
}

#right {
height: 80px;
display: grid;
grid-template-columns: repeat(2, 1fr);

justify-content: center;
}

#right>div:nth-child(1) {
display: flex;
justify-content: right;
align-items: center;
margin-right: 5px;
}

#right>div:nth-child(1)>img {
width: 20%;
height: 40%;
}
#submit{
    font-weight: bold; 
    color: white;
    border-radius: 3px;
    padding:12px 25px;
    border: 0px;
background-color: #ff3f6c;
color: white;
}
#submit:hover{
    transform: scale(1.04);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
input+p:hover{
color: #ff3f6c;
cursor: pointer;
}
#secure{
display: flex;
align-items: center;
}
#centre{
display: flex;
align-items: center;
justify-content: center;
}
#OTPbox>h1,input,p,button{
    margin-top: 10px;
}