*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
span>a{
   color: gray;
   text-decoration: none;
}
form {
    width: 28%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
    /* background-color:pink; */
    margin: auto;
    margin-top: 80px;
    /* margin-left: 336px; */
    padding-top: 44px;
    border-radius: 20px;
    padding-bottom: 55px;
    /* display: flex;
   justify-content: center; */
}
form>h2 {
   text-align: center;
   color:black;
   margin-bottom: 44px;
   /* margin-top: 250px */
}
form>input {
   margin-top: 20px;
   display: block;
   margin: auto;
   width: 72%;
   height: 50px;
   border: 1px solid grey;
   /* margin:20px 0px 20px 50px; */
   padding-left:15px ;
   font-size:medium;
   margin-top: 17px;
   /* border: 0px; */
}
form>button {
  display: block;
  margin: auto;
  width: 77%;
   height: 55px;
   margin-top: 33px;
   text-align: center;
   color: white;
   background-color: rgb(253, 0, 93);
   border: 0px;
   font-size: medium;
   margin-bottom: -5px;
}
#navbar{
width:100%;
height:80px;
display: grid;
grid-template-columns: 20% 30% 20%;
background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
justify-content: space-between;
position: sticky;
top: 0px;
}
#left img {
width: 50px;
}

#left {
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}

#left>div {
display: flex;
align-items: center;
}

#right {
height: 80px;
display: grid;
grid-template-columns: repeat(2, 1fr);

justify-content: center;
}

#right>div:nth-child(1) {
display: flex;
justify-content: right;
align-items: center;
margin-right: 5px;
}

#right>div:nth-child(1)>img {
width: 25%;
height: 40%;
}
#centre{
display: flex;
align-items: center;
justify-content: center;
color: gray;
}
#centre>span>span{
   color: 
   #79d8cd;
   text-decoration: underline;
}
#submit{
width: 325px;
background-color: #ff3f6c;
color: white;
/* font-weight: bold; */
}

#secure{
display: flex;
align-items: center;
}