
 /*  style for sort part */

 #filter-container {
    width: 99%;
    height: 25px;
    padding-top: 20px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
  }
  #filter-container>:nth-child(1){
    margin-top: 10px;
    margin-right: 485px;
  }
  
  #sortprice,#filterbrand{
    padding: 10px 30px;
  }
  #sortprice:hover,#filterbrand:hover{
    color: red;
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  /*  style for product div */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif;
  }
  #products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 60px;
  }
  #products > div {
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border-radius: 10px; */
    /* text-align: center; */
    background-color: #f5f0ed;
  }
  #products > div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #products > div > img {
    width: 100%;
  }
  #products > div > h5 {
    margin-left: 10px;
    margin-top: 10px;
    color: #535766;
  }
  #products > div > div {
    display: flex;
    margin-left: 10px;
  }
  #products > div > div > p:nth-child(1) {
    color: #282c3f;
    font-weight: bold;
  }
  #products > div > div > p:nth-child(2) {
    color: #282c3f;
    font-size: 13px;
    text-decoration: line-through;
    padding-left: 10px;
  }
  #products > div > p {
    margin-left: 10px;
  }
  button {
    border:1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 10px;
    cursor: pointer;
    color: red;
  }
  button:hover {
    color: white;
    background-color: #eb1010;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  /* style for end data  */
#end-container {
    background-color: #fafbfc;
    margin: 20px auto;
    padding: 2% 5%;
  }
  #table {
    width: 50%;
    text-align: left;
    font-size: 18px;
  }
  #end-container > div:nth-child(2) {
    width: 100%;
    margin: auto;
    line-height: 25px;
    margin-top: 20px;
  }
  #end-container > div:nth-child(2) > h4 {
    margin: 10px auto;
  }
  #item-count{
    color: red;
    font-size: 20px;
  }